@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #110a6a !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #bbbbbb !important;
}
.bg-danger {
  background-color: #110a6a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #110a6a !important;
  border-color: #110a6a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #04031b !important;
  border-color: #04031b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #04031b !important;
  border-color: #04031b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #352ac6 !important;
  border-color: #352ac6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #221b7e !important;
  border-color: #221b7e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #221b7e !important;
  border-color: #221b7e !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #110a6a !important;
  border-color: #110a6a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #04031b !important;
  border-color: #04031b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #04031b !important;
  border-color: #04031b !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #110a6a;
  color: #110a6a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #04031b !important;
  background-color: transparent!important;
  border-color: #04031b !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #110a6a !important;
  border-color: #110a6a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #352ac6;
  color: #352ac6;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #221b7e !important;
  background-color: transparent!important;
  border-color: #221b7e !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #352ac6 !important;
  border-color: #352ac6 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #bbbbbb;
  color: #bbbbbb;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #909090 !important;
  background-color: transparent!important;
  border-color: #909090 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #bbbbbb !important;
  border-color: #bbbbbb !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #110a6a;
  color: #110a6a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #04031b !important;
  background-color: transparent!important;
  border-color: #04031b !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #110a6a !important;
  border-color: #110a6a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #110a6a !important;
}
.text-secondary {
  color: #352ac6 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #bbbbbb !important;
}
.text-danger {
  color: #110a6a !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #02010d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #1e1872 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #888888 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #02010d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #110a6a;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #bbbbbb;
}
.alert-danger {
  background-color: #110a6a;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #110a6a;
  border-color: #110a6a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #110a6a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #2415df;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fbfbfb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #2415df;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #110a6a !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #110a6a;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #110a6a;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #110a6a;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #110a6a;
  border-bottom-color: #110a6a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #110a6a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #352ac6 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23110a6a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sgKhH1FwkD {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sgKhH1FwkD nav.navbar {
  position: fixed;
}
.cid-sgKhH1FwkD .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgKhH1FwkD .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sgKhH1FwkD .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sgKhH1FwkD .dropdown-item:hover,
.cid-sgKhH1FwkD .dropdown-item:focus {
  background: #110a6a !important;
  color: white !important;
}
.cid-sgKhH1FwkD .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sgKhH1FwkD .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sgKhH1FwkD .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sgKhH1FwkD .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sgKhH1FwkD .nav-link {
  position: relative;
}
.cid-sgKhH1FwkD .container {
  display: flex;
  margin: auto;
}
.cid-sgKhH1FwkD .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sgKhH1FwkD .dropdown-menu,
.cid-sgKhH1FwkD .navbar.opened {
  background: #ffffff !important;
}
.cid-sgKhH1FwkD .nav-item:focus,
.cid-sgKhH1FwkD .nav-link:focus {
  outline: none;
}
.cid-sgKhH1FwkD .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sgKhH1FwkD .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sgKhH1FwkD .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sgKhH1FwkD .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sgKhH1FwkD .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sgKhH1FwkD .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sgKhH1FwkD .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sgKhH1FwkD .navbar.opened {
  transition: all 0.3s;
}
.cid-sgKhH1FwkD .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sgKhH1FwkD .navbar .navbar-logo img {
  width: auto;
}
.cid-sgKhH1FwkD .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sgKhH1FwkD .navbar.collapsed {
  justify-content: center;
}
.cid-sgKhH1FwkD .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sgKhH1FwkD .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sgKhH1FwkD .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6.2rem);
  }
}
.cid-sgKhH1FwkD .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sgKhH1FwkD .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sgKhH1FwkD .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sgKhH1FwkD .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sgKhH1FwkD .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sgKhH1FwkD .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sgKhH1FwkD .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sgKhH1FwkD .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sgKhH1FwkD .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sgKhH1FwkD .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sgKhH1FwkD .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sgKhH1FwkD .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sgKhH1FwkD .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sgKhH1FwkD .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sgKhH1FwkD .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sgKhH1FwkD .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sgKhH1FwkD .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sgKhH1FwkD .navbar.navbar-short {
  min-height: 60px;
}
.cid-sgKhH1FwkD .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sgKhH1FwkD .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sgKhH1FwkD .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sgKhH1FwkD .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sgKhH1FwkD .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sgKhH1FwkD .dropdown-item.active,
.cid-sgKhH1FwkD .dropdown-item:active {
  background-color: transparent;
}
.cid-sgKhH1FwkD .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sgKhH1FwkD .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sgKhH1FwkD .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sgKhH1FwkD .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sgKhH1FwkD .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sgKhH1FwkD .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sgKhH1FwkD ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sgKhH1FwkD .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sgKhH1FwkD button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sgKhH1FwkD button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sgKhH1FwkD button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sgKhH1FwkD button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgKhH1FwkD button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sgKhH1FwkD button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sgKhH1FwkD nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgKhH1FwkD nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sgKhH1FwkD nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sgKhH1FwkD nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sgKhH1FwkD .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sgKhH1FwkD a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sgKhH1FwkD .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sgKhH1FwkD .navbar {
    height: 70px;
  }
  .cid-sgKhH1FwkD .navbar.opened {
    height: auto;
  }
  .cid-sgKhH1FwkD .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sgKeT8UB8q {
  background-image: url("../../../assets/images/pexels-mohamed-almari-368893.jpg");
}
.cid-sgKeT8UB8q .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
.cid-sgKZwzhoqq {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sgKZwzhoqq .mbr-text {
  color: #c1c1c1;
}
.cid-sgKZwzhoqq H3 {
  text-align: center;
}
.cid-sgKZwzhoqq .mbr-text,
.cid-sgKZwzhoqq .mbr-section-btn {
  color: #353535;
  text-align: left;
}
.cid-sgL3nQ30cW {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sgL572949i {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #4479d9;
}
@media (max-width: 991px) {
  .cid-sgL572949i .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sgL572949i .row {
  flex-direction: row-reverse;
}
.cid-sgL572949i img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sgL572949i .text-wrapper {
    padding: 2rem;
  }
}
.cid-sgL572949i .mbr-section-title {
  color: #ffde59;
}
.cid-sgL572949i .mbr-text {
  color: #fafafa;
}
.cid-sgKNR4nrq3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/pexels-takeshi-arai-4107337-2000x2000.jpg");
}
.cid-sgKNR4nrq3 .mbr-overlay {
  background: #fafafa;
  opacity: 0;
}
.cid-sgKNR4nrq3 img,
.cid-sgKNR4nrq3 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sgKNR4nrq3 .item:focus,
.cid-sgKNR4nrq3 span:focus {
  outline: none;
}
.cid-sgKNR4nrq3 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sgKNR4nrq3 .item-wrapper {
  position: relative;
  border-radius: 20px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sgKNR4nrq3 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sgKNR4nrq3 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sgKNR4nrq3 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sgKNR4nrq3 .mbr-section-title {
  color: #ffffff;
}
.cid-sgKNR4nrq3 .mbr-text,
.cid-sgKNR4nrq3 .mbr-section-btn {
  text-align: left;
}
.cid-sgKNR4nrq3 .item-title {
  text-align: left;
}
.cid-sgKNR4nrq3 .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-sgLgC949NM {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sgLgCSltXQ {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sgLp5NvwTy {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #4479d9;
}
.cid-sgLp5NvwTy .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
.cid-sgNCnnU5io {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #4479d9;
}
.cid-sgNCnnU5io .card-box {
  padding: 2rem;
  width: 58.33%;
  border-radius: 30px;
}
.cid-sgNCnnU5io .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sgNCnnU5io .img1 {
  background: #ffe161;
}
.cid-sgNCnnU5io .img2 {
  background: #ffde59;
}
.cid-sgNCnnU5io .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-sgNCnnU5io .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-sgNCnnU5io .card-wrapper {
  background: #fafafa;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-sgNCnnU5io .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgNCnnU5io .card-wrapper {
    flex-direction: column;
  }
  .cid-sgNCnnU5io .card-box {
    padding: 1rem;
  }
  .cid-sgNCnnU5io .card-box,
  .cid-sgNCnnU5io .img-wrapper {
    width: 100%;
  }
  .cid-sgNCnnU5io .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-sgNCnnU5io .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-sgNCnnU5io .card-subtitle {
  color: #0077ff;
}
.cid-sgNCnnU5io .mbr-text,
.cid-sgNCnnU5io .link-wrap {
  color: #555555;
}
.cid-sgNDCEbGkc {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #4479d9;
}
.cid-sgNDCEbGkc .card-box {
  padding: 2rem;
  width: 58.33%;
}
.cid-sgNDCEbGkc .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sgNDCEbGkc .img1 {
  background: #ffe161;
}
.cid-sgNDCEbGkc .img2 {
  background: #ffe161;
}
.cid-sgNDCEbGkc .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-sgNDCEbGkc .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-sgNDCEbGkc .card-wrapper {
  background: #fafafa;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-sgNDCEbGkc .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgNDCEbGkc .card-wrapper {
    flex-direction: column;
  }
  .cid-sgNDCEbGkc .card-box {
    padding: 1rem;
  }
  .cid-sgNDCEbGkc .card-box,
  .cid-sgNDCEbGkc .img-wrapper {
    width: 100%;
  }
  .cid-sgNDCEbGkc .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-sgNDCEbGkc .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-sgNDCEbGkc .card-subtitle {
  color: #0077ff;
}
.cid-sgNDCEbGkc .mbr-text,
.cid-sgNDCEbGkc .link-wrap {
  color: #555555;
}
.cid-sgNDDfIIBx {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #4479d9;
}
.cid-sgNDDfIIBx .card-box {
  padding: 2rem;
  width: 58.33%;
}
.cid-sgNDDfIIBx .img-wrapper {
  width: 41.66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sgNDDfIIBx .img1 {
  background: #ffe161;
}
.cid-sgNDDfIIBx .img2 {
  background: #ffde59;
}
.cid-sgNDDfIIBx .mbr-iconfont {
  display: block;
  font-size: 8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-sgNDDfIIBx .card {
  margin: auto;
  min-height: 280px;
  transition: all 0.3s;
}
.cid-sgNDDfIIBx .card-wrapper {
  background: #fafafa;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-sgNDDfIIBx .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgNDDfIIBx .card-wrapper {
    flex-direction: column;
  }
  .cid-sgNDDfIIBx .card-box {
    padding: 1rem;
  }
  .cid-sgNDDfIIBx .card-box,
  .cid-sgNDDfIIBx .img-wrapper {
    width: 100%;
  }
  .cid-sgNDDfIIBx .img-wrapper {
    padding: 4rem 1rem;
  }
  .cid-sgNDDfIIBx .mbr-flex {
    flex-direction: column-reverse;
  }
}
.cid-sgNDDfIIBx .card-subtitle {
  color: #0077ff;
}
.cid-sgNDDfIIBx .mbr-text,
.cid-sgNDDfIIBx .link-wrap {
  color: #555555;
}
.cid-sgNDDfIIBx .mbr-text,
.cid-sgNDDfIIBx .mbr-section-btn {
  text-align: left;
}
.cid-sgKJzgKRnC {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/pexels-takeshi-arai-4107337-2000x2000.jpg");
}
.cid-sgKJzgKRnC .item {
  padding-bottom: 2rem;
}
.cid-sgKJzgKRnC .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-sgKJzgKRnC .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-sgKJzgKRnC .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sgKJzgKRnC .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sgKJzgKRnC .carousel-control,
.cid-sgKJzgKRnC .close {
  background: #1b1b1b;
}
.cid-sgKJzgKRnC .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sgKJzgKRnC .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sgKJzgKRnC .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sgKJzgKRnC .carousel-control-next span {
  margin-left: 5px;
}
.cid-sgKJzgKRnC .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sgKJzgKRnC .close::before {
  content: '\e91a';
}
.cid-sgKJzgKRnC .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sgKJzgKRnC .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sgKJzgKRnC .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sgKJzgKRnC .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sgKJzgKRnC .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sgKJzgKRnC .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sgKJzgKRnC .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sgKJzgKRnC .carousel-indicators li.active,
.cid-sgKJzgKRnC .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sgKJzgKRnC .carousel-indicators li::after,
.cid-sgKJzgKRnC .carousel-indicators li::before {
  content: none;
}
.cid-sgKJzgKRnC .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sgKJzgKRnC .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sgKJzgKRnC .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sgKJzgKRnC .carousel-indicators {
    display: none;
  }
}
.cid-sgKJzgKRnC .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sgKJzgKRnC .carousel-inner > .active {
  display: block;
}
.cid-sgKJzgKRnC .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sgKJzgKRnC .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sgKJzgKRnC .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sgKJzgKRnC .carousel-control,
  .cid-sgKJzgKRnC .carousel-indicators,
  .cid-sgKJzgKRnC .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sgKJzgKRnC .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sgKJzgKRnC .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sgKJzgKRnC .carousel-indicators .active,
.cid-sgKJzgKRnC .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sgKJzgKRnC .carousel-indicators .active {
  background: #fff;
}
.cid-sgKJzgKRnC .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sgKJzgKRnC .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sgKJzgKRnC .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sgKJzgKRnC .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sgKJzgKRnC .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sgKJzgKRnC .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sgKJzgKRnC .carousel {
  width: 100%;
}
.cid-sgKJzgKRnC .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sgKJzgKRnC .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sgKJzgKRnC .modal.fade .modal-dialog,
.cid-sgKJzgKRnC .modal.in .modal-dialog {
  transform: none;
}
.cid-sgKJzgKRnC .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sgKJzgKRnC H6 {
  text-align: center;
}
.cid-sgKJzgKRnC H3 {
  color: #ffffff;
}
.cid-sgKJzgKRnC H4 {
  color: #fafafa;
}
.cid-sgO7oAbDp0 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sgNPvwwLQx {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sgNPvwwLQx .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-sgNPvwwLQx .card-wrapper {
  background-color: #4479d9;
  border-radius: 30px;
}
.cid-sgNPvwwLQx .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sgNPvwwLQx .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sgNPvwwLQx .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-sgNPvwwLQx .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sgNPvwwLQx .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sgNPvwwLQx .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-sgNPvwwLQx .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgNPvwwLQx .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-sgNPvwwLQx .card-title {
  color: #ffde59;
}
.cid-sgNPvwwLQx .card-subtitle {
  color: #ffde59;
}
.cid-sgNPvwwLQx .mbr-text,
.cid-sgNPvwwLQx .social-row {
  color: #ffde59;
}
.cid-sgLr2KopCY {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffe161;
}
.cid-sgLka9ts2G {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background: #ffe161;
}
.cid-sgLka9ts2G .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-sgLka9ts2G .plan-body {
  padding-bottom: 2rem;
}
.cid-sgLka9ts2G .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sgLka9ts2G .price {
  color: #110a6a;
}
.cid-sgLka9ts2G .plan {
  word-break: break-word;
  background-color: #ffffff;
  border-radius: 30px;
}
.cid-sgLka9ts2G .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-sgLka9ts2G .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-sgLka9ts2G .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-sgLka9ts2G .plan {
    margin-bottom: 2rem;
  }
}
.cid-sgLka9ts2G .plan-title {
  color: #4479d9;
}
.cid-sgLka9ts2G .price-term {
  color: #ffde59;
}
.cid-sgLka9ts2G H3 {
  color: #110a6a;
}
.cid-sgLkf0r1QT {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-sgLkf0r1QT .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sgLkf0r1QT .image-wrap img {
    display: block;
    margin: auto;
    width: 10%;
  }
}
.cid-sgLkf0r1QT .mbr-section-title {
  color: #353535;
}
.cid-sgOAk0AhEI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pexels-takeshi-arai-4107337-2000x2000.jpg");
}
.cid-sgOAk0AhEI .number-wrap {
  color: #ffffff;
  text-align: center;
}
.cid-sgOAk0AhEI .number {
  color: #352ac6;
}
.cid-sgOAk0AhEI .period {
  display: block;
}
.cid-sgOAk0AhEI .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-sgOAk0AhEI .period {
    font-size: 0.8rem;
  }
}
.cid-sgOAk0AhEI .btn {
  height: 100%;
  margin: 0;
}
.cid-sgOAk0AhEI .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-sgOAk0AhEI .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-sgOAk0AhEI .icons-menu .soc-item .mbr-iconfont {
  font-size: 2rem;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #110a6a;
  border: 2px solid #110a6a;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-sgOAk0AhEI .icons-menu .soc-item .mbr-iconfont:before {
  padding: 0.6rem;
}
.cid-sgOAk0AhEI .icons-menu .soc-item .mbr-iconfont:hover {
  background-color: #110a6a;
  color: #ffffff;
}
.cid-sgOAk0AhEI H3 {
  color: #ffffff;
}
.cid-sgOAk0AhEI .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sgOfdScHUf {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sgOfdScHUf .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #110a6a;
  margin-left: 1rem;
}
.cid-sgOfdScHUf .panel-group {
  border: none;
}
.cid-sgOfdScHUf .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sgOfdScHUf .panel-body,
.cid-sgOfdScHUf .card-header {
  padding: 1rem 0;
}
.cid-sgOfdScHUf .panel-title-edit {
  color: #000000;
}
.cid-sgOfdScHUf .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sgOEscxFfQ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/pexels-takeshi-arai-4107337-2000x2000.jpg");
}
.cid-sgOEscxFfQ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sgOEscxFfQ .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sgOEscxFfQ .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sgOEscxFfQ .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sgOEscxFfQ .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sgOEscxFfQ .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sgOEscxFfQ .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sgOEscxFfQ .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sgOEscxFfQ .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sgOEscxFfQ .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sgOEscxFfQ .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sgOEscxFfQ .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sgOEscxFfQ .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sgOEscxFfQ .media-container-row .row-copirayt p {
  width: 100%;
}
